---
const personalImageAlt = 'Valentin Zalazar'
---

<article
  class='flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row'
>
  <div
    class='[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1'
  >
    <p>
      Me llamo Valentin, soy un Desarrollador Web con solidos conocimientos en <strong
      >
        HTML, CSS, JavaScript, Node.JS y bases de datos (SQL & NoSQL)</strong
      >, entre otros. Además de competencia en el uso de bibliotecas y
      frameworks populares como Bootstrap, jQuery, React y Express.
    </p>

    <p>
      Me enorgullezco de ser un buen comunicador y una persona carismática.
      <strong
        >Cuando se trata de lograr objetivos, soy muy determinado y persistente.</strong
      >
    </p>
  </div>

  <!-- <img
    width='200'
    height='200'
    src='../../public/me2.jpg'
    alt={personalImageAlt}
    class='order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20'
    style='object-position: 50% 50%'
  /> -->
</article>
