---
import ExperienceItem from './ExperienceItem.astro'
const EXPERIENCIE = [
  {
    date: '05-2024 - Actulamente',
    title: 'Full Stack Developer',
    company: 'Español con E',
    description:
      'Creación de features, tales como calendarios, formularios visualmente atractivos, utilizando tecnologías como NextJS, JavaScript,  React, VueJs, Tailwind, CSS, SASS.  Creación de modelos en base de datos, utilizando tecnologías como MongoDB y mongoose. Implementación del CRUD en backend, con NextAPI, JSON',
    link: 'https://www.linkedin.com/in/valentinzalazar3'
  },
  {
    date: '06-2023 - 06-2024',
    title: 'Full Stack Developer (HA)',
    company: 'Henry',
    description:
      ' Liderar, coordinar y capacitar grupos de TAs para lograr la mejor experiencia estudiantil. Desarrollar propuestas para mejorar los procesos del Bootcamp e intercambiar ideas con otros miembros del equipo.',
    link: 'https://www.linkedin.com/in/valentinzalazar3'
  }
]
---

<ol class='relative mt-16'>
  {
    EXPERIENCIE.map((experiencie) => (
      <li class=''>
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
